<p><button ng-click="hideAuthors = true">Hide authors</button><p>

<p><label>Search:
    <input type="search" value="" ng-model="userInput.authors">
</label></p>

<p>Searched for: {{ userInput.authors }}</p>

<p ng-show="(articles | filter:userInput).length == 0"><em>No articles found.</em></p>

<p>
    <button ng-click="alphabetical = !alphabetical">Change sort order</button>
<p>

<ul class='articles'>
    <li
       ng-repeat='article in articles | orderBy:sortOrder(alphabetical) | filter:userInput'
       ng-class='{archived:article.archived}'
    >
        <article>
    </li>
</ul>
