<p><a ng-click="hideAuthors = true">Hide authors</a><p>

<p><label>Search:
    <input type="search" value="" ng-model="userInput">
</label></p>

<p>Searched for: {{ userInput }}</p>

<p ng-show="(articles | filter:userInput).length == 0"><em>No articles found.</em></p>

<p>
    <a ng-click="alphabetical = !alphabetical">Change sort order</a>
<p>

<ul class='articles'>
    <li
       ng-repeat='article in articles | orderBy:sortOrder(alphabetical) | filter:userInput'
       ng-class='{archived:article.archived}'
    >
         <img ng-src="{{ article.icon }}"><br>
         “{{ article.title }}”
         <span ng-show='!hideAuthors'>by {{ article.authors | authorList }}</span>
    </li>
</ul>
